html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: linear-gradient(to right, #a32424, #194261);
  /* background-image: url('https://wallpapers.com/images/hd/christmas-cat-pictures-0lep4l4dn0tqhg98.jpg'); */ /* Background image link here */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating */
  /* height: 100vh; Ensure the body takes the full viewport height */
  margin: 0; /* Remove default margin */
}

.text {
  text-align:center; 
  color:#fff
}

p {
  font-family: 'Papyrus', fantasy; 
  font-size: 1rem; 
  line-height: 1.4; 
  text-align: left; 
  color: #663399; 
  background: rgba(230, 229, 225, 0.8); 
  padding: 20px; 
  margin: 20px auto; 
  max-width: 600px; 
  border: 2px solid #ffcccb; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-weight: 999;
  font-family: fantasy;
}

h2 {
  font-weight:lighter;
}

img {
  display: block;
  margin: 10px auto; /* adds a small margin around the image */
  max-height: 70vh; /* limits the height to 90% of the viewport */
  width: auto; /* maintains aspect ratio based on height */
}

a {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: #ff6347; /* Cheerful red for links */
  text-decoration: none;
  margin-top: 20px;
}

a:hover {
  color: #ffa07a; /* Warm coral on hover */
  text-decoration: underline;
}
