html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: linear-gradient(to right, #a32424, #194261);
  /* background-image: url('https://wallpapers.com/images/hd/christmas-cat-pictures-0lep4l4dn0tqhg98.jpg'); */ /* Background image link here */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating */
  /* height: 100vh; Ensure the body takes the full viewport height */
  margin: 0; /* Remove default margin */
}

.text {
  text-align:center; 
  color:#fff
}

h1 {
  font-weight: 999;
  font-family: fantasy;
}

h2 {
  font-weight:lighter;
}

img {
  display: block;
  margin: 10px auto; /* adds a small margin around the image */
  max-height: 70vh; /* limits the height to 90% of the viewport */
  width: auto; /* maintains aspect ratio based on height */
}
