html {
  box-sizing: border-box;
}
body {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(60,129,176,1) 100%, rgba(160,32,240,1) 100%,);
  background-size: cover; /* Cover the entire viewport */
  height: 100vh; /* Ensure the body takes the full viewport height */
  margin: 5; /* Remove default margin */
}

p {
  text-align: justify;
  margin: 5;
}

h1 {
  text-align: center;
  font-family: fantasy;
}
